<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alecks | Home</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="cf7ed184-6cc3-4837-8e60-fa56bddd27f0"></script>
</head>
<body>
    <div class="box-1">
        <%- include('partials/navbar') %>

        <p class="text">My homelab is used to host all my stuff, mainly websites, game servers and other small vms.</p>

        <p class="text">Bare metal machines run Proxmox VE (clustered).</p>

        <div style="margin-bottom: 35px;"></div>
        <h3 class="subtitle">🍘 Compute Nodes</h3>
        <hr>
        <table>
         <thead>
          <tr>
            <th>Name</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Storage</th>
          </tr>
         </thead>
        <tbody>
          <tr>
            <td>Lightsail</td>
            <td>AMD Ryzen 5 5500</td>
            <td>32GB DDR4</td>
            <td>1TB NVMe</td>
          </tr>
          <tr>
            <td>Railway</td>
            <td>Intel Core i5-7400T</td>
            <td>8GB DDR4</td>
            <td>256GB NVMe</td>
          </tr>
        </tbody>
</table>


        <div style="margin-bottom: 35px;"></div>
     
        <h3 class="subtitle">💾 Monitoring & Backups</h3>
        <hr>
        <p class="text"><a class="link-text text" href="https://hetrixtools.com" target="_blank">Hetrixtools</a> is used to monitor uptime, cpu, ram storage and bandwidth usage, <a class="link-text text" href="https://ntfy.sh" target="_blank">ntfy</a> is used for real-time push notifications about incidents.</p>
        <p class="text">Encrypted backups of server disks are sent to <a class="link-text text" href="https://backblaze.com" target="_blank">Backblaze</a>.</p>

        <div style="margin-bottom: 35px;"></div>
        <h3 class="subtitle">🚠 Networking Setup</h3>
        <hr>
        <p class="text">Servers are hooked up via a gigabit fiber uplink, protected with <a class="link-text text" href="https://globalsecurelayer.com/ddos-protection" target="_blank">gsl</a>. Running enterprise grade networking gear onsite.</p>

  
    </div>
</body>
</html>