<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alecks | Home</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="cf7ed184-6cc3-4837-8e60-fa56bddd27f0"></script>
</head>
<body>
    <div class="box-1">
        <%- include('partials/navbar') %>

        <p class="text">Hello internet, my name is Alex. I’m a hobbyist developer from Australia with a passion for computers, tinkering, programming, homelabbing and system administration.</p>
        <p class="text">I use this website to showcase my exerience with different technologies, blog about things I've learned or just thoughts and opinions and display my digital garden.</p>

        <div style="margin-bottom: 35px;"></div>
        <h3 class="subtitle">✏️ Latest Blog Posts</h3>
        <hr>

      <div>
       <% posts.forEach(post => { %>
         <p class="text"><b><a class="text link-text" href="/post/<%= post.slug %>"><%- post.title %></a></b> - <%- post.description %></p>
       <% }) %>
      </div>

        <div style="margin-bottom: 35px;"></div>
     
        <h3 class="subtitle">📬 Contact Me</h3>
        <hr>
        <p class="text">Reach out to me via email at <a class="link-text text" href="mailto:alecks03@pm.me" target="_blank">alecks03@pm.me</a> or Signal (alecks.54), response times will vary.</p>
    </div>
</body>
</html>