<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | Alecks</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="a1568524-b251-4494-887a-4a83bbaf7845"></script>
</head>
<body>
    <div class="box-1">
        <h1 class="title"><%- title %></h1>
        <h3 class="subtitle">✏️ <%- date %> /<a href="/blog" class="subtitle link-text">Return</a></h3>
        <hr>

        <div class="text"><%- content %></div>
        <div style="margin-bottom: 35px;"></div>
    </div>
</body>
</html>